@import '~@angular/material/theming';

@include mat-core();

$cool-theme-primary: mat-palette($mat-green);
$cool-theme-accent: mat-palette($mat-grey);

$cool-theme: mat-dark-them($cool-theme-primary, $cool-theme-accent);

@include angular-material-theme($cool-theme);
